.movie-card {
  border: solid;
  border-width: 1.5px;
  border-radius: 16px;
  border-color: #4f4f4f;
  box-sizing: border-box;
  padding: 18px;
  height: 100%;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
}

.movie-card:hover {
  transform: translate3D(0, -1px, 0) scale(1.01); /* move up slightly and zoom in */
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.16);
  transition: all 0.4s ease; /* zoom in */
  // cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.movie-description {
  max-height: 65%;
  // overflow-y: visible;
  // display: -webkit-box;
  // -webkit-line-clamp: 9;
  // -webkit-box-orient: vertical;
}
.star-full {
  background-image: url("../assets/Star-full.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1rem;
  height: 1rem;
}

.star-void {
  background-image: url("../assets/Star-void.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1rem;
  height: 1rem;
}
@media (min-width: 767px) {
  .star-full,
  .star-void {
    width: 0.5rem;
    height: 0.5rem;
  }
}

h2 {
  font-family: "Futura LT";
  color: #3f3f3f;
  font-size: 14px !important;
  font-weight: 800 !important;
  line-height: 19.47px !important;
}

h6 {
  font-family: "Futura LT";
  // color: #3f3f3f;
  font-size: 12px !important;
  font-weight: 800 !important;
}

p {
  font-family: "Futura LT";
  font-size: 12px;
  font-weight: 400;
  line-height: 16.67px;
  // color: #6d6e70;
}

span {
  font-family: "Futura LT";
  font-size: 12px;
  font-weight: 400;
  line-height: 16.67px;
  // color: #6d6e70;
}
