#gender-filter {
  background-image: url("../images/Filter-Icon.png");
  background-repeat: no-repeat;
  background-position: right;
  border: none;
  border-radius: 12px;
  max-width: 20vw;
  max-height: 10vh !important;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  #gender-filter {
    max-width: 100%;
    span,
    div {
      height: 5vh;
    }
  }
}
